<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskRouter Status Control</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/foundationz.css" />
  <link href="fonts/foundation-icons/foundation-icons.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" />
  <link href="css/stylez.css" rel="stylesheet" />
  <script src="js/modernizr.custom.js"></script>
</head>
<body class="fadeIn animated">
  <div class="container">
  <div id="agentcontrols">
 <h1>Status: {{status}}</h1>
 <template v-if="status === 'Idle'">
<a href="#" class="button success" @Click="gooffline()">Go offline</a><br />
</template>
<template v-if="status ==='Offline'">
<a href="#" class="button success" @Click="goonline()">Go online</a><br />
</template>
<a href="#" class="button success" @Click="updatecapacity(1)">Capacity: 1</a><br />
<a href="#" class="button success" @Click="updatecapacity(2)">Capacity: 2</a>
<a href="#" class="button success" @Click="shownumbers()">Show Numbers</a>
<a href="#" class="button alert" @Click="resetdemo()">RESET!</a>

</div>                





  </div>  

  

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.util.motion.js"></script>
<script src="js/foundation/foundation.util.mediaQuery.js"></script>
<script src="js/plugins/morris/raphael-2.1.0.min.js" type="text/javascript"></script>
<script src="js/plugins/morris/morris.js" type="text/javascript"></script>
<script src="js/menucustom.js" type="text/javascript"></script>

<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<script src="js/morris-demo.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.6/taskrouter.min.js"></script>
<script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
<script>         </script>

<script>
  function registerTaskRouterCallbacks() {
    worker.on('ready', function(worker) {
      console.log("Successfully registered as: " + worker.friendlyName);
      console.log("Current activity is: " + worker.activityName);
          console.log(worker.sid);             // 'WKxxx'
          console.log(worker.available);       // false
          vueAgentControls.updateWorkerSid(worker.sid);
          vueAgentControls.updateCurrentStatus(worker.activityName);

        });  

    worker.on('activity.update', function(worker) {
      console.log("Worker activity changed to: " + worker.activityName);
      vueAgentControls.updateCurrentStatus(worker.activityName);



    });





  }

  window.onload = function() {
   $.getJSON('/token', function(data) {

    console.log(data.token);
    window.worker = new Twilio.TaskRouter.Worker(data.token);
    registerTaskRouterCallbacks();
    window.zendeskClient = ZAFClient.init();
    zendeskClient.invoke('resize', { width: '250px', height: '240px' });


  });
 }




 window.vueAgentControls = new Vue({
  el: '#agentcontrols',
  data: function() {
   return {
     status: "Loading...",
     worker:""
   }

 },
 methods: {
  goonline: function() {
    changeState("Idle");
  },
  gooffline: function() {
    changeState("Offline");
  },
  updatecapacity: function(capacity) {
    updatecapacity(capacity, worker);
  },
  updateCurrentStatus: function(status) {
    this.status=status;
  },
  updateWorkerSid: function(sid) {
    this.worker=sid;
  },
  shownumbers: function() {
    var msg = 'Are you sure?<br/>Your request won\'t be sent.';
      zendeskClient.invoke(msg,alert,{sticky: true});
  },
  resetdemo: function() {
    $.ajax({ 
      url: 'https://twiliozendeskcc.herokuapp.com/deletealltasks',

  type: 'get',
  success: function(output) {
    console.log("nuked the demo");

  }
});
  }

}


})
 $(document).foundation();

 function changeState(state) {
  console.log("trying to change state to state " + state);
  var activitySid="WAbc57093ed33d341e926d9db5e73525ad";
  switch (state) {
    case "Idle":
    activitySid="WAbc57093ed33d341e926d9db5e73525ad";
    break;
    case "Offline":
    activitySid="WA7d69025af6c5acae76faad56da32698e";
    break;
    case "Busy":
    activitySid="WA6492c399f88532c2935ca7fcbfe56e9b";
    break;                
  }
  console.log(activitySid);
  worker.update("ActivitySid", activitySid, function(error, worker) {
    if(error) {
      console.log(error.code);
      console.log(error.message);
    } else {
      console.log(worker.activityName); 
    }
  });
}








function updateCapacity(number, workerSid) {
 $.ajax({ 
  url: 'updateCapacity',
  data: {'capacity': number, 'workerSid':workerSid},
  type: 'get',
  success: function(output) {
    console.log("received OK from request to update capacity");

  }
});
}






</script>
</body>
</html>
