
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Visualize TaskRouter Workspace</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
 
<nav class="top-bar" data-topbar>
<ul class="title-area">
 
<li class="name">
<h1>
<a href="#">
Visualize Workspace
</a>
</h1>
</li>
<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
<section class="top-bar-section">
 
<ul class="left">
<li class="divider"></li>
<li class="has-dropdown">
<a class="active" href="#">Change Workspace</a>
<ul class="dropdown">
<li><label>Other workspaces</label></li>
<li><a href="#" class="">No other workspaces</a></li>
</ul>
</li>
<li class="divider"></li>

</ul>
 
<ul class="right">
<li class="divider"></li>

<li class="divider"></li>
<li><a href="#">Logout</a></li>
<li class="divider"></li>
</ul>
</section>
</nav>
 
 
<div class="row"  id='rowone'>
<div class="large-3 columns">
<div class="panel" id='test'>
<h5>Panel Title</h5>
<p>This is a three columns grid panel with an arbitrary <a href='#' onClick="test('test')">height</a>a>.</p>
</div>
</div>


</div>
 
 
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Al Cook | @calozpom | Twilio</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Section 1</a></li>
<li><a href="#">Section 2</a></li>
<li><a href="#">Section 3</a></li>
<li><a href="#">Section 4</a></li>
</ul>
</div>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script src="js/foundation/foundation.util.motion.js"></script>
<script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.4/taskrouter.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<script>
      $(document).foundation();
    </script>
<script>
window.onload = function() {
	window.workspace = new Twilio.TaskRouter.Workspace("<%= token %>");
	window.myFirebase = new Firebase("https://taskrouter.firebaseio.com/");
	window.taskrouterGlobals = {};
	registerTaskRouterCallbacks();


}

function registerTaskRouterCallbacks() {
	workspace.on("ready", function(workspace) {
		console.log(workspace.sid)             // 'WKxxx'
		console.log(workspace.friendlyName)    // 'Worker 1'
    console.log(workspace.activityName)    // 'Reserved'
    console.log(workspace.available)       // false
    buildTaskRouterGrid();
    });
}

function buildTaskRouterGrid() {
	workspace.taskqueues.fetch(
    function(error, taskQueueList) {
        if(error) {
            console.log(error.code);
            console.log(error.message);
            return;
        }
        console.log("Parsing response");
        var data = taskQueueList.data;
        for(i=0; i<data.length; i++) {
            console.log(data[i].friendlyName);
        }
    }
);
}

function test(divID) {
	console.log("attempting to animate");
	var elem = $("'#"+divID+"'");
Foundation.Motion.animateOut(elem, fade-out);
}


//<![CDATA[
//document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
//]]></script>
</body>
</html>
